@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Estacionamento</h1>

</div>
<div style="grid-template-columns: 1fr 1fr;" class="d-grid gap-3 text-center">
    <a asp-controller="Veiculo" asp-action="Index" class="card p-2 bg-primary text-white">Veículos</a>
    <a asp-controller="RegistroEstacionamento" asp-action="Index" class="card p-2">Estacionar</a>
</div>
